Repository Mesure73L/mesure.x10.mx, pull requests merged in 2024-02, with the labels that each got.

#80 Create epoch timestamps for information.json statuses
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: code, twelve of code, quality of life

#83 12oC hash for URL navigation
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/1.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/2.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/3.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/information.json
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: twelve of code

#89 Creating 12oC Hash System
  README.md
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: code, twelve of code, quality of life

#106 Create auto-merge.yml
  .github/workflows/auto-merge.yml
Labels: code, repository

#110 Added prefilled value to pros and cons in FR issue template
  .github/ISSUE_TEMPLATE/2-feature-request.yml
Labels: repository, quality of life

#96 12oc hashtag url navigation
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  README.md
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/1.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/2.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/nov/3.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/information.json
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: code, twelve of code, quality of life

#112 Changing actions ymls
  .github/workflows/auto-merge.yml
  .github/workflows/ftp-deploy.yml
  .github/workflows/netlify-twelve-of-code.yml
Labels: suggestion, repository

#114 Changed on push to on push to main in ftp-deploy.yml
  .github/workflows/ftp-deploy.yml
Labels: suggestion, repository

#115 Removed push trigger from Netlfy Deploy action
  .github/workflows/netlify-twelve-of-code.yml
Labels: twelve of code

#122 Fixing 12oc hashes
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: bug, twelve of code

#123 Added links to navbar, made navbar relative so it shows on development pages
  blog.mesure.x10.mx/public_html/goodbye-replit/index.html
  blog.mesure.x10.mx/public_html/index.html
  blog.mesure.x10.mx/public_html/my-response-to-gen-alpha/index.html
  blog.mesure.x10.mx/public_html/public_assets/navbar.html
  blog.mesure.x10.mx/public_html/public_assets/navbar.js
  blog.mesure.x10.mx/public_html/why-i-like-web-development-so-much/index.html
  mesure.x10.mx/private_html/contact/index.html
  mesure.x10.mx/private_html/index.html
  mesure.x10.mx/private_html/live/commands/index.html
  mesure.x10.mx/private_html/live/index.html
  mesure.x10.mx/private_html/public_assets/navbar.html
  mesure.x10.mx/private_html/public_assets/navbar.js
  projects.mesure.x10.mx/public_html/index.html
  projects.mesure.x10.mx/public_html/public_assets/navbar.html
  projects.mesure.x10.mx/public_html/public_assets/navbar.js
Labels: main site, blog, projects, twelve of code

#127 Center challenges and remove empty space by license
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/style.css
Labels: twelve of code

#134 Update LICENSE.md to include official CC markdown license
  LICENSE.md
Labels: repository

#133 Added a license policy
  LICENSE.md
Labels: repository

#138 Console clicker project
  .vscode/settings.json
  blog.mesure.x10.mx/public_html/index.html
  projects.mesure.x10.mx/public_html/console-clicker/index.html
  projects.mesure.x10.mx/public_html/console-clicker/script.js
  projects.mesure.x10.mx/public_html/console-clicker/style.css
  projects.mesure.x10.mx/public_html/index.html
  projects.mesure.x10.mx/public_html/project-images/console-clicker.png
Labels: projects

#140 Create data import and export
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/CookieManager.js
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/information.json
  mesure.x10.mx/private_html/twelve-of-code/script.js
  mesure.x10.mx/private_html/twelve-of-code/style.css
Labels: code, twelve of code

#143 Made challenges able to be marked as in progress
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: twelve of code, quality of life

#150 Update netlify-twelve-of-code.yml
  .github/workflows/netlify-twelve-of-code.yml
Labels: bug, code, repository

#154 Delete .github/workflows/netlify-twelve-of-code.yml
  .github/workflows/netlify-twelve-of-code.yml
Labels: suggestion, repository, suggestion accepted

#145 Contributing policy
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  .github/SECURITY.md
Labels: repository

#153 Added mobile page for Twelve of Code
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/mobile/index.html
Labels: twelve of code, quality of life

#159 Changed name of CSS import feature to not copy Minecraft
  mesure.x10.mx/private_html/twelve-of-code/mobile/index.html
Labels: twelve of code

#163 Creating seedmanager class
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/SeedManager.js
Labels: twelve of code, quality of life

#168 Create challenge iframe resizing
  README.md
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: suggestion, twelve of code, quality of life
