Repository Mesure73L/mesure.x10.mx, pull requests merged in 2024-01, with the labels that each got.

#20 Created CookieManager Class
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/CookieManager.js
  mesure.x10.mx/private_html/twelve-of-code/script.js
  mesure.x10.mx/private_html/twelve-of-code/style.css
Labels: code, twelve of code, fixed

#39 Twelve of Code removed <!DOCTYPE html> and <body> elements from challenges
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/dec/1.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/dec/2.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/dec/3.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/aug/1.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/aug/2.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/aug/3.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/mar/1.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/mar/2.html
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2024/mar/3.html
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: bug, code, twelve of code, ready to merge

#49 Allowed editing of username and seed in 12oC
  mesure.x10.mx/private_html/twelve-of-code/index.html
  mesure.x10.mx/private_html/twelve-of-code/script.js
  mesure.x10.mx/private_html/twelve-of-code/style.css
Labels: code, twelve of code, fixed, ready to merge

#59 12oc execute JavaScript script on challenge load
  mesure.x10.mx/private_html/twelve-of-code/not-an-api/challenges/2023/dec/1.html
  mesure.x10.mx/private_html/twelve-of-code/script.js
Labels: twelve of code
